[submodule "3rdParty/Base64"]
	path = 3rdParty/Base64
	url = https://github.com/tkislan/base64.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/imgui-sfml"]
	path = 3rdParty/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "3rdParty/DragonBonesSFML"]
	path = 3rdParty/DragonBonesSFML
	url = git@github.com:sws-team/dragonBonesSFML.git
